@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@font-face {
    font-family: "Dana-Regular";
    src: url(../app/Fonts/DanaFaNum-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "Dana-Bold";
    src: url(../app/Fonts/DanaFaNum-DemiBold.woff2) format("woff2");
}

@font-face {
    font-family: "Moraba-Medium";
    src: url(../app/Fonts/Morabba-Medium.woff2) format("woff2");
}

@font-face {
    font-family: "Kalameh-Medium";
    src: url(../app/Fonts/KalamehMedium.woff2) format("woff2");
}

@theme {
    --font-Moraba: "Moraba-Medium", "sans-serif";
    --font-Dana: "Dana-Regular", "sans-serif";
    --font-Dana-Bold: "Dana-Bold", "sans-serif";
    --font-Kalameh: "Kalameh-Medium", "sans-serif";

}

@layer utilities {
    .Moraba-Medium {
        font-family: var(--font-Moraba);
    }

    .Dana-Regular {
        font-family: var(--font-Dana);
    }

    .Dana-Bold {
        font-family: var(--font-Dana-Bold);
    }

    .Kalameh-Medium {
        font-family: var(--font-Kalameh);
    }

}

.container {
    margin: 0 auto;
}

body {
    font-family: "Dana-Regular";
}

.spin {
    animation: spin 40s linear infinite;
}